.topbar {
    position: relative;
    z-index: 50;
    background: #fff;
    height: 64px;
}

.topbar .navbar-collapse {
    padding: 0px 10px 0 0;
}

.topbar .top-navbar {
    min-height: 64px;
    padding: 0px;
}

.topbar .top-navbar .dropdown-toggle::after {
    display: none;
}

.topbar .top-navbar .navbar-header {
    line-height: 64px;
}

.topbar .top-navbar .navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0 10px 0 10px;
}

.topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand .logo-icon {
    margin-right: 5px;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    padding: 0px 15px;
    font-size: 0.875rem;
    line-height: 64px;
    height: 64px;
}

.topbar .top-navbar .navbar-nav>.nav-item {
    transition: 0.2s ease-in;
}

.topbar .top-navbar .navbar-nav>.nav-item:hover {
    background: rgba(0, 0, 0, 0.03);
}

.topbar .user-dd,
.topbar .mailbox {
    min-width: 280px;
}

.topbar .nav-toggler,
.topbar .topbartoggler {
    color: #fff;
    padding: 0 15px;
    border: 0;
}




@media (max-width: 767px) {

    .topbar .top-navbar .navbar-collapse.show,
    .topbar .top-navbar .navbar-collapse.collapsing {
        display: block;
        width: 100%;
        border-top: 1px solid #e9ecef;
    }

    .topbar .top-navbar .navbar-nav {
        flex-direction: row;
    }

    .topbar .top-navbar .navbar-nav .dropdown {
        position: static;
    }

    .topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
        padding: 0 10px;
    }

    .topbar .top-navbar .navbar-header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .topbar .top-navbar .dropdown-menu {
        position: absolute;
        width: 100%;
    }

    .topbar .top-navbar .dropdown-menu .with-arrow {
        display: none;
    }
}


.left-sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0px;
    z-index: 10;
    padding-top: 64px;
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease-in;
}

.scroll-sidebar {
    height: calc(100% - 20px);
    overflow: auto;
}


.sidebar-nav ul .sidebar-item {
    width: 250px;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    color: #fff;
    padding: 12px 15px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    opacity: 0.6;
    cursor: pointer;
}
.fuuter {
    margin-bottom: 100px !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
    font-style: normal;
    width: 35px;
    line-height: 25px;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.sidebar-nav ul .sidebar-item .sidebar-link.active,
.sidebar-nav ul .sidebar-item .sidebar-link:hover {
    opacity: 1;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link,
.sidebar-nav ul .sidebar-item:hover>.sidebar-link {
    opacity: 1;
}

.sidebar-nav ul .sidebar-item .first-level {
    padding: 0 0 10px 0;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link {
    opacity: 1;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
    padding: 10px 15px;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
    font-size: 14px;
    visibility: hidden;
}

.sidebar-nav ul .sidebar-item .second-level .sidebar-item {
    padding: 0 0 0px 20px;
}

.sidebar-nav ul .nav-small-cap {
    font-size: 12px;
    padding: 12px 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 30px;
    margin-top: 10px;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
}

.sidebar-nav ul .nav-small-cap i {
    line-height: 30px;
    margin: 0 5px;
}
.sidebar-nav ul {
    margin: 0px;
    padding: 0px;
}

.sidebar-nav ul li {
    list-style: none;
}

.collapse.in {
    display: block;
}
.sidebar-nav .has-arrow {
    position: relative;
}

.sidebar-nav .has-arrow::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #fff;
    margin-left: 10px;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 26px;
    right: 15px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.sidebar-nav li.active>.has-arrow::after,
.sidebar-nav li>.has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded='true']::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
}

.user-profile {
    padding: 15px;
}

.user-profile .user-content,
.user-profile .user-name,
.user-profile .user-email {
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.create-btn {
    height: 40px;
    background: #32325d;
}